<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="'utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>Penelope Sampson - Portfolio</title>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>
    <body>
        <h1>Penelope Sampson</h1>
        <div id="navbar-container"></div>

        
        <script>
            fetch("fragments/navbar.html")
            .then(response => response.text())
            .then(data => {document.getElementById('navbar-container').innerHTML = data;});
        </script>

    </body>
</html>